@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    padding: 50px;
    text-align: center;
    background-color: #2b2b31;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #2b2b31 10px ), repeating-linear-gradient( #05061555, #050615 );
    
}
.heading{
    text-align: center;
    padding:2rem ;
  }
  
  .heading span{
    font-size: 3.5rem;
    background:#FFD700;
    border-radius: 0.5rem;
    padding:.1rem 0.7rem;
    text-align: center;
  }
  
  .heading span.space{
    background:none;
  }
.box{
    
    width:100%;
    height: 100px;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40%;
}
.txt{
   position: relative;
   top:25px;
}
.imgb img{
    width: 450px;
    height: 300px;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
   
}
.imgb img{
    width: 450px;
    height: 350px;
    cursor: pointer;
    transition:0.4s ;
    border-width:8px ;
    border-color:  rgb(243, 248, 183);
    border-style: inset;
    border-radius: 10%;
}
.imgb img:hover {
    transform: scale(0.9) rotate(-15deg);
    border-radius: 30%;
    box-shadow: 0 32px 75px rgba(68, 77 , 136 , 0.2 );
}

.a{
    position: absolute;
    left: 50px;
    
}
.b{
    position: absolute;
    right: 50px;
}
.aa{
    height: 10px;
    position: relative;

    top:0px
}

.t {
    position: absolute;
    left: 220px;
    
    
}
.l {
    position: absolute;
    right: 220px;
    display: block;
    
}
.imgp{
    margin-top: 600px;
}
.imgp img{

    width: 450px;
    height: 300px;
    
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px;
   
}
.imgp img{
    width: 450px;
    height: 350px;
    cursor: pointer;
    transition:0.4s ;
    border-width:8px ;
    border-color: rgb(243, 248, 183);
    border-style: inset;
    border-radius: 10%;
}
.imgp img:hover {
    transform: scale(0.9) rotate(-15deg);
    border-radius: 30%;
    box-shadow: 0 32px 75px rgba(68, 77 , 136 , 0.2 );
}
html{
    scroll-behavior: smooth;
}
.pa p{
    font-size: 1.75rem;
    color: aliceblue;
    position: relative;
    top: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
.p1{
    position: absolute;
    left: 50px;
}
.p2{
    position: absolute;
    right: 50px;
}
.p5{
    position:relative;
    top:0px
}
.p3 img {
    position: absolute;
    top: 100px;
    right: 300px;
    
}


h1 {
    
    color: white; 
    text-decoration:  white  ;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
     font-size: 54px; font-style: normal; 
    font-variant: normal; font-weight: 700; line-height: 26.4px; 
} 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:105px;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




